<!DOCTYPE html>
<html>

  <head>
    <meta charset='utf-8' />
    <meta http-equiv="X-UA-Compatible" content="chrome=1" />
    <meta name="description" content="{{site.username}}'s blog based on GitHub Pages" />
    <link rel="stylesheet" type="text/css" media="screen" href="{{site.baseurl}}/themes/{{site.theme}}/stylesheets/stylesheet.css">
    
    
    <title>{{page.title}}</title>
  </head>

  <body style="font-family:微软雅黑; color:#222; font-size:12pt">

    <!-- HEADER -->
    <div>
        <header  style="margin: 0px 20px 20px 40px">
          <nav style="margin-left:70%">
            <a href="https://github.com/{{site.username}}" style="margin-right:10px">
              <img src="/blog/images/github.png" alt="github" height="40px" width="40px" border="0">
            </a>
            
            <a href="http://www.zhihu.com/people/chao-tan-40" style="margin-right:10px">
              <img src="/blog/images/zhihu.png" alt="zhihu" height="40px" width="40px"border="0">
            </a>
            
            <a href="http://tcoops.github.io/blog/" style="margin-right:40px">
              <img src="/blog/images/rss.png" alt="rss" height="40px" width="40px" border="0">
            </a>

            <a href="http://tcoops.github.io/blog/" style="margin-right:10px">
              Home
            </a>
            
            <a href="http://tcoops.github.io/blog/myhomepage.html">
              About me
            </a>
          </nav>
          
          <div style="margin-left:10%">
            <nav>
              <div style="float:left">
                <img src="/blog/images/oops.png" alt="tcOops" height="120px" width="120px" border="0">
              </div>
                
                <div style="margin-left: 165px">
                   <h1 id="project_title"><a href="{{site.baseurl}}/">{{site.title}}</a></h1>
                   <h2 id="project_tagline">{{site.description}}</h2>
                </div>
               
               </tr>
            </nav>
          </div>
         <!--  <section id="downloads">
            <a class="zip_download_link" href="#">Download this project as a .zip file</a>
            <a class="tar_download_link" href="#">Download this project as a tar.gz file</a>
          </section> -->
        </header>
    </div>

    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">
       <h1>{{page.title}}</h1>
{{content}}
      </section>
      <section id="comments" class="inner">
        {% if page.comments %}
          {% include comments.ext %}
        {% endif %}
      </section>
    </div>

    <!-- FOOTER  -->
    <div id="footer_wrap" class="outer">
      <footer class="inner">
       <!-- <p class="copyright">Slate theme maintained by <a href="https://github.com/jasoncostello">Jason Costello</a></p>-->
        <p class="copyright">Blog maintained by <a href="https://github.com/tcOops">tcOops</a></p>
        <p>Published with <a href="http://pages.github.com">GitHub Pages</a></p>
      </footer>
    </div>

  </body>
</html>
